---
- name: Frontend files are present in /opt
  become: true
  ansible.builtin.copy:
    src: "{{ lookup('env', 'PWD') }}/frontend/src/dist/"
    dest: /opt/nfc-vcard-frontend/
    mode: preserve

- name: Custom content directory is present
  become: true
  ansible.builtin.file:
    path: /opt/nfc-vcard-custom
    state: directory
    mode: 0777

- name: Custom content directory is linked to desktop
  ansible.builtin.file:
    src: /opt/nfc-vcard-custom
    dest: /home/pi/Desktop/custom
    state: link

- name: User notification - custom content
  ansible.builtin.debug:
    msg:
      - "Please copy your privacy policy to Desktop/custom/privacy_policy.pdf"
      - "Please copy your favicon to Desktop/custom/favicon.ico"
...
