---
- name: Backend files are present in /opt
  become: true
  ansible.builtin.copy:
    src: "{{ lookup('env', 'PWD') }}/backend/"
    dest: /opt/nfc-vcard-backend/
    mode: preserve
  notify:
    - Restart backend service

- name: Backend vurtual environment is populated
  become: true
  ansible.builtin.pip:
    virtualenv: /opt/nfc-vcard-backend/venv
    virtualenv_command: /usr/bin/python3 -m venv
    requirements: /opt/nfc-vcard-backend/requirements.txt
  environment:
    CFLAGS: "-fcommon"
  notify:
    - Restart backend service

- name: Backend Systemd unit is present
  become: true
  ansible.builtin.copy:
    src: nfc-vcard-backend.service
    dest: /etc/systemd/system/
    mode: preserve
  notify:
    - Restart backend service

- name: Backend service is running
  become: true
  ansible.builtin.systemd:
    name: nfc-vcard-backend
    state: started
    enabled: true
    daemon_reload: true
...
