---
- name: Copy application file to /opt
  copy:
    src: api/
    dest: /opt/nfc-vcard-api/

- name: Create Docker image for NTAG Writer
  docker_image:
    build:
      path: /opt/nfc-vcard-api/
      pull: true
    name: nfc-vcard-api
    tag: latest
    source: build

- name: Launch Docker container with NTAG Writer
  docker_container:
    name: nfc-vcard-api
    image: nfc-vcard-api
    state: started
    restart_policy: always
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    published_ports:
      - "5000:5000"
  tags:
    - start
    - never
...
