.title {
  text-align: center;
}

.checkbox-custom {
  margin-left: 10px;
  margin-bottom: 5px;
  display: inline;
}

.secondary-button {
  margin: 10px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

