[Unit]
Description=NFC vCard Backend

[Service]
ExecStart=/opt/nfc-vcard-backend/venv/bin/python /opt/nfc-vcard-backend/src/api.py

[Install]
WantedBy=multi-user.target
