ansible==7.1.0
ansible-core==2.14.1
cffi==1.15.1
cryptography==38.0.4
flake8==6.0.0
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.7.0
packaging==22.0
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
PyYAML==6.0
resolvelib==0.8.1
