---
- name: Enable I2C interface
  lineinfile:
    path: "/boot/config.txt"
    line: "dtparam=i2c_arm=on"
    insertafter: "^#dtparam=i2c_arm=on$"

- name: Check I2C interface presence
  stat:
    path: "/dev/i2c-1"
  register: i2c_device_stat_result

- name: Request restart
  debug:
    msg: "System restart is required to enable I2C and start installation again."
  when: i2c_device_stat_result.stat.exists == False
  failed_when: true
...
