---
- name: Evaluate presence of the I2C interface
  ansible.builtin.stat:
    path: "/dev/i2c-1"
  register: i2c_device_stat_result

- name: Run I2C interface setup
  import_tasks: i2c_setup.yml
  when: not i2c_device_stat_result.stat.exists
...
